#video_confidentiality_option_container {
  display: flex;
  flex-direction: row;
}

.video_confidentiality_option {
  margin: 1rem;
  z-index: 1;
  background-clip: padding-box;
  box-shadow: 1px 1px 15px rgba(27,31,35,.15);
  padding: 40px;
  background-color: white;
  border-radius: 6px;
  color: black;
}

.checkout_detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.checkout_price {
  margin-top: 30px;
  text-align: right;
}

#new_checkout_method_container {

}

@media screen and (max-width: 425px) {
  #video_confidentiality_option_container {
    flex-direction: column;
  }

  .checkout_detail {
    font-size: 1.25rem;
  }

  .checkout_price {
    font-size: 1.25rem;
  }

  #new_checkout_method_container {

  }
}
