#info_update_container {
  width: 100%;
}

#info_update_credit_card {
  width: 420px;
  height: 250px;
  border-radius: 10px;
  padding: 20px 50px;
  background: linear-gradient(160deg, rgb(43, 88, 118), rgb(78, 67, 118));
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  font-weight: 200;
  margin-bottom: 20px;
}

#info_update_button {
  margin-bottom: 10px;
}

@media screen and (max-width: 425px) {
  #info_update_container {
    width: 90%;
    margin: 20px;
  }

  #info_update_credit_card {
    width: initial;
    padding: 20px;
  }

  #info_update_button {
    width: 100%;
  }

}
