/* Global Variables File */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


// PRIMARY-COLORS:
$electric-blue : #1537FF;
$night-blue : #1A1833;
$indigo-blue : #1C246C;
$degraded-footer : linear-gradient($night-blue,$indigo-blue);

// SECONDARY-COLORS:
$tournament : #4D00C6;
$friendly-game : #8aa9ff;
$championship : #000000;
$notifications : #FF2B51;

// GREY-COLORS:
$typo : #A2A2BA;
$background : #ECF2FD;
$calendar-training : #D1D1D6;
$light-grey: #eaeaf0;

// FONTS
$primary-font : 'Roboto';
$heading-font : 'Bebas Neue';
