.profile {
  padding: 20px;
}
.headerProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card {
  border-style: solid;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-color: #cfcfcf;

  transition: 0.3s;
}