.b-navigation {
  display: flex;
}

.b-navigation a {
  font-family: 'Roboto';
  color: white;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  margin-left: 20px;
}

@media screen and (max-width: 800px) {
  .b-navigation {
    display: none !important;
  }
}
